.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  &__wrap {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
  }
  &-list {
    width: 40%;
    padding: 30px;
    white-space: nowrap;
    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      & a {
        transition: color .4s ease-in-out;
        &:hover {
          color: $color-orange;
        }
        &:active {
          color: $color-orange;
        }
      }
    }
    &__info {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10px;
      }
      &_address::before {
        background-image: url('../img/svg/address.svg');
      }
      &_telephone::before {
          background-image: url('../img/svg/telephone.svg');
      }
      &_mail::before {
          background-image: url('../img/svg/mail.svg');
      }
      &_mode::before {
        background-image: url('../img/svg/clock.svg');
      }
    }
  }
  &-map {
    width: 100%;
    height: 100%;
    &__list {
      display: none;
    }
  }
  &__map-wrap {
    width: 60%;
  }
}
[class*="copyrights-pane"] {
  display: none !important;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
@media (min-width: 431px) and (max-width: 768px) {
  .contacts {
    &-list {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: 10%;
      background-color: $color-black;
      padding: 10px;
      &__item:not(:last-child) {
          margin-bottom: 0;
        }
    }
    &__map-wrap {
      width: 100%;
      position: relative;
    }
  }
}
@media (min-width: 300px) and (max-width: 430px) {
  .contacts {
    &-list {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 50;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: 10px;
      font-size: 12px;
      background-color: $color-black;
      padding: 10px;
      &__item:not(:last-child) {
        margin-bottom: 0;
      }
      &__info {
        &::before {
          display: none;
        }
      }
    }
    &__map-wrap {
      width: 100%;
      position: relative;
    }
  }
}
