.footer {
  position: relative;
  height: 100px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $color-orange;
  &__socials {
    &-list {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    &-link {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-size: cover;
      transition: background-image .4s ease-in-out;
      &:focus {
        outline: none;
      }
      &_telegram {
        background-image: $telegram-icon;
        &:hover {
          background-image: $telegram-icon-hover;
        }
        &:focus {
          background-image: $telegram-icon-hover;
        }
        &:active {
          background-image: $telegram-icon-hover;
        }
      }
      &_whatsapp {
        background-image: $whatsapp-icon;
        &:hover {
          background-image: $whatsapp-icon-hover;
        }
        &:focus {
          background-image: $whatsapp-icon-hover;
        }
        &:active {
          background-image: $whatsapp-icon-hover;
        }
      }
      &_viber {
        background-image: $viber-icon;
        &:hover {
          background-image: $viber-icon-hover;
        }
        &:focus {
          background-image: $viber-icon-hover;
        }
        &:active {
          background-image: $viber-icon-hover;
        }
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 30px;
    &__item {
      &_advantages {
        display: none;
      }
    }
    &__link {
      transition: color .4s ease-in-out;
      &:hover {
        color: $color-black;
      }
      &:active {
        color: $color-black;
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1055px) {
  .footer {
    padding: 15px;
    * .logo {
      height: 50px;
    }
    &__socials {
      &-link {
        width: 25px;
        height: 25px;
      }
    }
    &-list {
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 0;
      &__item {
        &_advantages {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 431px) and (max-width: 768px) {
  .footer {
    height: 130px;
    flex-direction: column-reverse;
    padding: 15px;
    * .logo {
      height: 50px;
    }
    &__socials {
      &-link {
        width: 25px;
        height: 25px;
      }
    }
    &-list {
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 0;
      &__item {
        &_advantages {
          display: block;
        }
      }
    }
    &-nav {
      display: none;
    }
  }
}
@media (min-width: 300px) and (max-width: 430px) {
  .footer {
    height: 110px;
    flex-direction: column-reverse;
    padding: 15px;
    * .logo {
      height: 40px;
    }
    &__socials {
      &-link {
        width: 20px;
        height: 20px;
      }
    }
    &-list {
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 0;
      &__item {
        &_advantages {
          display: block;
        }
      }
    }
    &-nav {
      display: none;
    }
  }
}
